.App {
  text-align: center;
  background-color: rgb(37, 40, 82);
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  /* background-color: blue; */
  width: 200px;
  height: 200px;
  /* line-height: 100px; */
  text-align: center;
  margin: 20px;
  /* border: 2px solid black; */
  border-radius: 15px;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: green;
}
.two {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: yellow;
}
.three {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: red;
}
.four {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: blue;
}

.header {
  background-color: rgb(18, 6, 46);
  margin: 0;
  font-size: 2em;
  color: white;
  height: 6em;
}

.header-line {
  height: 3rem;
}

.body {
  /* background-color: rgb(34, 39, 107); */
  margin: 0;
  font-size: 2em;
  color: white;
  /* text-align: center; */
  /* justify-content: center; */
  /* justify-self: center; */
  /* align-self: center; */
}

.selection {
  height: 17em;
}
.result {
  /* text-align: center;
  justify-content: center;
  justify-self: center;
  align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 solid rgb(18, 6, 46);
  border-radius: 25px;
  background-color: rgb(18, 6, 46);
  width: 160px;
  height: 50px;
  margin: 0 auto;
  padding: 1px;
  /* font-size: 10px; */
}

.reset {
  color: black;
  /* border: 2px solid black; */
  background-color: whitesmoke;
  font-size: 20px;
  margin: 30px;
}

/* Blinker */

.blink {
  animation:blinkingBackground 0.8s;
}
@keyframes blinkingBackground {
  0%{     background-color: white;}
}

/* Progress Bar */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid white;
  border-radius: 9px;
}