.App {
  text-align: center;
  background-color: #001f3f;
  align-items: center;
  /* height: 100vh; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  /* padding: 1rem; */
  justify-content: center;
}

.grid-item {
  /* background-color: blue; */
  width: 15rem;
  height: 15rem;
  /* line-height: 100px; */
  text-align: center;
  /* margin: 20px; */
  margin: 1rem;
  /* border: 2px solid black; */
  /* border-radius: 15px; */
  border-radius: 50%;
}

.one {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #2ECC40;
}
.two {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #FFDC00;
}
.three {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #F012BE;
}
.four {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #0074D9;
}

.header {
  /* background-color: rgb(18, 6, 46); */
  background-color:	rgb(22, 0, 36);
  margin: 0;  
  color: white;
  /* height: 12rem; */
  height: 18vh;
}

.header-title {
  height: 2rem;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.header-line {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  /* text-transform: uppercase; */
}

.message {
  padding: 0.5rem;
  font-size: 1.8rem;
  color: white;
  width: 80rem;
  height: 3rem;
  /* border-radius: 1.5rem; */
  /* background-color:	rgb(22, 0, 36); */
  margin: 1rem auto 0 auto;
}

.boxes {
  /* height: 17em; */
  margin: 0;
  font-size: 2em;
  color: white;
  height: 55vh;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 1rem; */
  height: 7vh;
  /* align-items: center; */
}

.footer {
  /* display: flex; */
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  color: white;
  height: 18vh;
  padding-top: 2rem;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17em;
}
.regular-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111111;
  /* border: 2px solid black; */
  background-color: white;
  /* font-size: 20px; */
  margin: 1rem;
  /* border-radius: 5px; */
  border-radius: 1.5rem;
  text-transform: uppercase;
  width: 15rem;
  height: 3rem;
  /* color: #1eaedb; */
  cursor: pointer;
  font-size: 1.4rem;
  /* font-weight: bold; */
}

/* Blinker */

.blink {
  animation:blinkingBackground 0.8s;
}
@keyframes blinkingBackground {
  0% {background-color: white;}
}

/* Progress Bar */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 18px;
  height: 18px;
  margin: 6px;
  border: 2px solid #7FDBFF;
  border-radius: 50%;
}

.bar {
  width: 18px;
  height: 6px;
  margin: 2px 6px 2px 6px;
  border: 2px solid rgb(22, 0, 36);
  /* border-radius: 50%; */
}

.count {
  width: 18px;
  height: 18px;
  /* margin: 6px; */
  margin: 2px 6px 2px 6px;
  border: 2px solid transparent;
  font-size: 1rem;
  /* border-radius: 9px; */
}

a {
  color: white;
}